parameters:
    level: 8
    paths:
        - src
        - tests
        - bin
    tmpDir: .phpstan-cache
    stubFiles:
        - phpstan-stubs/SQLDatabase.stub
    reportUnmatchedIgnoredErrors: true
